@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.navigation-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin-left: 20px;
  width: auto;
}

li {
  display: inline-block;
  margin: 20px 0 20px 40px;
  position: relative;
}

li::after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  bottom: -5px;
  left: 0;
  width: 15px;
  transition: width 500ms;
}

li:hover::after {
  width: 100%;
}

.navigation-container a {
  text-transform: uppercase;
  transition: color 200ms;
  font-weight: bold;
}

a:hover {
  color: rgb(145, 155, 167);
  cursor: pointer;
}

p {
  display: inline-block;
  width: 200px;
  margin: 20px 0 0 0;
  font-size: 1.5em;
}

/* ------------------------------------------------- */

.container {
  width: 60%;
  margin: 0 auto;
  height: 60vh;
  margin-top: 150px;
  overflow: hidden;
  /* border: 1px solid black; */
  display: flex;
}

.side-image {
  flex: 1;
  margin-left: 50px;
}
.form-container {
  flex: 1;
  align-self: center;
  margin-left: 100px;
}

.form-container h3 {
  margin-bottom: 50px;
}

.side-image img {
  width: 80%;
}

.field-container {
  margin: 22px 0 0 0;
}

input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: relative;
  z-index: 2;

  /* margin-top: 30px; */
  padding: 10px 5px;
}

input:focus {
  outline: none;
}

/* .form-container {
  width: 40%;
  margin: 100px auto 0 auto;
} */

.test-selector-1,
.test-selector-2 {
  position: relative;
  border-top: 1px solid black;
  width: 200px;
}
.test-selector-1::before {
  content: "Username";
  transition: transform 200ms, font-size 200ms;
  display: inline-block;
  position: relative;
  top: -28px;
  left: 30px;
}

#username-input:focus + .test-selector-1::before {
  transform: translateY(-25px);
  font-size: 0.9em;
}

.test-selector-2::before {
  content: "Password";
  transition: transform 200ms, font-size 200ms;
  display: inline-block;
  position: relative;
  top: -28px;
  left: 30px;
}

#password-input:focus + .test-selector-2::before {
  transform: translateY(-25px);
  font-size: 0.9em;
}

button {
  width: 200px;
  padding: 5px 0;
  margin-top: 15px;
}

.container a {
  display: block;
  font-size: 0.8em;
  text-decoration: none;
  margin-top: 20px;
}
